/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Heading */

header {
  height: 300px;
  background: #ecfcff;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
header ul li {
  list-style: none;
  font-size: 18px;
}

header a {
  text-decoration: none;
  color: #5f6769;
}
header a:hover {
  text-decoration: underline;
}

header h1 {
  font-family: "Anton", sans-serif;
  font-size: 60px;
  color: #3c4245;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

header hr {
  width: 50px;
  position: relative;
  left: 48%;
  margin-top: -6px;
  height: 3px;
  background: #5f6769;
  border-radius: 5px;
  border: none;
}

/* Function Section */
#function {
  height: 200px;
  display: flex;
}
#function .function-content1 {
  background: #3c4245;
  color: #fff;
  flex: 2;
  margin-right: 0.8px;
  border-radius: 1%;
}

#function h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
}

#function p {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
}

#function .function-content2 {
  flex: 1;
  background: #5f6769;
  text-align: center;
  color: #fff;
  border-radius: 1%;
  font-size: 20px;
  padding-top: 15px;
}

/* Objects */

#objects {
  height: 200px;
  display: flex;
}

.object-content1 {
  flex: 1;
  background: #5f6769;
  text-align: center;
  color: #fff;
  border-radius: 1%;
  margin-top: 1px;
  font-size: 20px;
  padding-top: 15px;
  margin-right: 0.8px;
}

.object-content2 {
  background: #3c4245;
  color: #fff;
  flex: 2;
  margin-right: 0.8px;
  border-radius: 1%;
  margin-top: 1px;
}

#objects h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
}

#objects p {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
}

/* Arrays Section */
#arrays {
  height: 200px;
  display: flex;
}
#arrays .arrays-content1 {
  background: #3c4245;
  color: #fff;
  flex: 2;
  margin-right: 0.8px;
  border-radius: 1%;
  margin-top: 1px;
}

#arrays h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
}

#arrays p {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
}

#arrays .arrays-content2 {
  flex: 1;
  background: #5f6769;
  text-align: center;
  color: #fff;
  border-radius: 1%;
  font-size: 20px;
  margin-top: 1px;
  padding-top: 15px;
}

/* Conditionals Section */
#conditionals {
  height: 200px;
  display: flex;
}

.conditionals-content1 {
  flex: 1;
  background: #5f6769;
  text-align: center;
  color: #fff;
  border-radius: 1%;
  font-size: 20px;
  margin-top: 1px;
  padding-top: 15px;
}

.conditionals-content2 {
  background: #3c4245;
  color: #fff;
  flex: 2;
  margin-left: 0.8px;
  border-radius: 1%;
  margin-top: 1px;
}

#conditionals h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
}

#conditionals p {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
}

/* For Loops Section */

#forLoops {
  height: 200px;
  display: flex;
}
#forLoops .forLoops-content1 {
  background: #3c4245;
  color: #fff;
  flex: 2;
  margin-right: 0.8px;
  border-radius: 1%;
  margin-top: 1px;
}

#forLoops h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
}

#forLoops p {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
}

#forLoops .forLoops-content2 {
  flex: 1;
  background: #5f6769;
  text-align: center;
  color: #fff;
  border-radius: 1%;
  font-size: 20px;
  margin-top: 1px;
  padding-top: 15px;
}
/* Footer */
footer {
  margin-top: 1px;
  height: 100px;
  background: #3c4245;
  color: #fff;
}

footer h3 {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-size: 18px;
}

footer ul li a:hover {
  color: #dfcdc3;
}

/* CSS Animation */

.bounce:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

/* Media Queries */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1000px) {
  * {
    overflow-x: hidden;
  }
  /* Fucntions */
  .function-content1 {
    display: block;
    font-size: 10px;
    overflow-y: hidden;
  }
  .function-content2 {
    display: none;
  }
  /* Objects */
  .object-content1 {
    display: none;
  }
  .object-content2 {
    display: block;
    font-size: 10px;
    overflow-y: hidden;
    background: #ecfcff;
    color: #3c4245;
  }
  /* Arrays */
  .arrays-content1 {
    display: block;
    font-size: 10px;
    overflow-y: hidden;
    background: #ecfcff;
  }
  .arrays-content2 {
    display: none;
  }
  .conditionals-content1 {
    display: none;
  }
  .conditionals-content2 {
    display: block;
    font-size: 14px;
    overflow-y: hidden;
    background: #ecfcff;
    color: #3c4245;
  }
  .forLoops-content1 {
    display: block;
    font-size: 10px;
    overflow-y: hidden;
    background: #ecfcff;
  }
  .forLoops-content2 {
    display: none;
  }

  footer {
    background: #ecfcff;
    color: #3c4245;
  }
  footer ul li a {
    color: #3c4245;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Heading */
  header {
    height: 120px;
  }
  header nav {
    display: none;
  }
  header h1 {
    text-align: center;
    font-size: 30px;
  }
  header hr {
    display: none;
  }
  /* Functions */
  #function {
    height: 120px;
  }
  #function h3 {
    font-size: 20px;
  }
  #function p {
    font-size: 14px;
  }
  /* Objects */
  #objects {
    height: 120px;
  }
  #objects h3 {
    font-size: 20px;
  }
  #objects p {
    font-size: 14px;
  }
  #arrays {
    height: 120px;
  }
  #arrays h3 {
    font-size: 20px;
  }
  #arrays p {
    font-size: 14px;
  }
  #conditionals {
    height: 120px;
  }
  #conditionals h3 {
    font-size: 20px;
  }
  #conditionals p {
    font-size: 14px;
  }
  #forLoops {
    height: 120px;
  }
  #forLoops h3 {
    font-size: 20px;
  }
  #forLoops p {
    font-size: 14px;
  }
}

/* Extra small devices (phones, 400 and down) */
@media only screen and (max-width: 400px) {
  /* Heading */
  header {
    height: 120px;
  }
  header nav {
    display: none;
  }
  header h1 {
    text-align: center;
    font-size: 30px;
  }
  header hr {
    display: none;
  }
  /* Functions */
  #function {
    height: 120px;
  }
  #function h3 {
    font-size: 20px;
  }
  #function p {
    font-size: 10px;
  }
  /* Objects */
  #objects {
    height: 120px;
  }
  #objects h3 {
    font-size: 20px;
  }
  #objects p {
    font-size: 10px;
  }
  #arrays {
    height: 120px;
  }
  #arrays h3 {
    font-size: 20px;
  }
  #arrays p {
    font-size: 10px;
  }
  #conditionals {
    height: 120px;
  }
  #conditionals h3 {
    font-size: 20px;
  }
  #conditionals p {
    font-size: 10px;
  }
  #forLoops {
    height: 120px;
  }
  #forLoops h3 {
    font-size: 20px;
  }
  #forLoops p {
    font-size: 10px;
  }
}
